<h2>Sign up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  	<div class="error_messages">
  		<h2>Form is invalid</h2>
  		<ul>
  			<% for messages in @user.errors.full_messages %>
  			<li><%= messages %></li>
  		</ul>
  	</div>
  <% end %>  
  <% end %> 

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :first_name %><br />
    <%= f.text_field :fname %></div>

  <div><%= f.label :last_name %><br />
    <%= f.text_field :lname %></div>

  <div><%= f.label :age %><br />
  <%= f.text_field :age %></div>

	
  	<div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  	<div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <p class="button"><%= f.submit %></p>
<% end %>


